/* Reset y fondo general */
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1d3768; /* Fondo oscuro general */
  color: #fff;
  box-sizing: border-box;
}

/* Flex utilities para layouts */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
